@import './src/assets/var.less';
@import './src/assets/common.less';

._sdk-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
  display: flex;
  align-items: center;
  justify-content: center;
  // transparent mask
  &-tp {
    background-color: transparent;
  }
  ._sdkfont {
    color: #fff;
    font-size: 1.8rem;
  }
  > ._sdk-image {
    height: 100%;
  }
}

@paddingGap: 1.2em;

._sdk-modal {
  user-select: none;
  // font-family: PingFang SC,Helvetica Neue,Hiragino Sans GB,Helvetica,Microsoft YaHei,Arial;
  font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
  line-height: 1.15;
  position: fixed;
  width: 85%;
  max-width: 340px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  z-index: 5000;
  background-color: #fff;
  text-align: center;
  border-radius: 12px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;

  * {
    box-sizing: border-box;
  }
  &-close {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    color: #999;
    font-size: 2em;
  }
  &-title {
    padding: 1.6em @paddingGap .5em;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
  }
  &-notitle {
    ._sdk-modal-content {
      padding-top: 2em;
      padding-bottom: 2em;
      margin-bottom: 0;
      color: #333;
      font-weight: 500;
    }
    ._sdk-modal-form {
      padding-top: 2.4em;
    }
  }
  &-text {
    padding-left: @paddingGap;
    padding-right: @paddingGap;
    text-align: center;
    color: #333;
    margin-bottom: 0.5em;
  }
  &-content {
    padding: 0.6em @paddingGap;
    font-size: 17px;
    line-height: 1.4;
    word-wrap: break-word;
    word-break: break-all;
    color: #666;
    margin-bottom: 1em;
  }
  &-form {
    text-align: justify;
    padding: 0 @paddingGap .8em;
  }
  &-iptwrap {
    margin-bottom: .5em;
    label {
      color: #333;
      display: block;
      margin-bottom: 7px;
    }
    span {
      font-size: 80%;
      color: #999;
    }
  }
  &-input {
    input, select {
      height: 38px;
      line-height: 38px;
    }
    input, select, textarea {
      -webkit-appearance: none;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 16px;
      display: block;
      width: 100%;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 4px;
    }
    select {
      background-color: transparent;
    }
    textarea {
      resize: none;
    }
    &-error {
      font-size: 12px;
      height: 12px;
      margin-top: 4px;
      color: #ff7474;
      &:empty {
        display: none;
      }
    }
  }
  &-buttons {
    position: relative;
    line-height: 56px;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
  }
  // Horizontal
  &-buttons-h {
    border-top: @Border1px;
    ._sdk-modal-button {
      border-right: @Border1px;      
    }
  }
  // Vertical
  &-buttons-v {
    ._sdk-modal-button {
      flex-basis: 100%;
      border-top: @Border1px;
    }
  }
  
  &-button {
    font-size: 18px;
    display: block;
    text-align: center;
    flex: 1;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-bold {
    font-weight: 700;
  }
}

// theme
._sdk-theme-android {
  // ._sdk-modal-close {
  //   top: 0.6em;
  // }
  ._sdk-modal {
    text-align: left;
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, .1);
    &-title {
      font-size: 21px;
      padding: 24px 24px 14px;
    }
    &-content {
      text-align: justify;
    }
    &-buttons {
      justify-content: flex-end;
      &-h {
        border-top: none;
      }
      &-v {
        ._sdk-modal-button {
          flex-basis: 100%;
        }
      }
    }
    &-button {
      border-radius: 4px;
      min-width: 64px;
      padding: 0 @paddingGap;
      flex: initial;
      border: none !important;
    }
    &-input {
      input, textarea, select {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid @BorderColor;
        transition: all 0.3s ease-out;
        &:hover, &:focus {
          border-bottom: 2px solid @MainColor;          
        }
      }
    }
  }
}

._sdk-theme-half {
  ._sdk-modal {
    top: initial;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    backface-visibility: hidden;
    width: 100%;
    transform: none;
    max-width: 100%;
    border-radius: 12px 12px 0 0;

    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }

  // animation
  &._sdk-fade-in ._sdk-modal {
    ._sdk-in-up();
  }

  &._sdk-fade-out ._sdk-modal {
    ._sdk-out-down();
  }
  ._sdk-modal-buttons {
    justify-content: space-around;
    border: none;
    padding-bottom: 24px;
    ._sdk-modal-button {
      min-width: 120px;
      border: none;
      flex: none;
      position: relative;
      padding: 8px 24px;
      font-weight: 700;
      font-size: 17px;
      text-align: center;
      line-height: 1.41176471;
      border-radius: 4px;
      overflow: hidden;
      background: #f2f2f2;

    }
  }
}

._sdk-sheet {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 5000;
  // transform: translate(0, 100%);
  backface-visibility: hidden;
  width: 100%;
  background-color: #f7f7f7;
  transition: transform 0.3s;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;

  &-title {
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    background-color: #fff;
    color: #999;
  }
  &-actions, &-menus {
    color: rgba(0,0,0,0.9);
    background-color: #fff
  }
  &-button {
    position: relative;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    border-top: @Border1px;
  }
  &-actions {
    margin-top: 8px;
    background-color: #fff;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    ._sdk-sheet-button:first-child {
      border-top: none;
    }
  }
  &-bold {
    font-weight: 700;
  }
}

._sdk-fade-in ._sdk-sheet {
  ._sdk-in-up();
}

._sdk-fade-out ._sdk-sheet {
  ._sdk-out-down();
}
